.cards {
  padding: 0;
  max-width: 1280px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
  border-bottom: 1px rgba(33, 33, 33, 40%) solid;
  padding-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 627px) {
  .cards {
    margin-bottom: 0;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    row-gap: 20px;
  }
}
