.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  transform: scale(0.8);
  transition: transform 0.4s ease;
  background-color: #ffff;
}

.modal__caption {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #ffff;
  font-size: 20px;
  margin: auto auto auto 0;
  padding: 4px 8px;
  background-color: #212121;
  margin-top: 8px;
  border-radius: 8px;
}

.modal__container_type_preview {
  max-width: 80vw;
  padding: 0;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  border-radius: 8px;
  background-color: transparent;
}

.modal__image {
  width: auto;
  height: auto;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  background-image: url(../images/close-icon-modal.svg);
  top: 0;
  right: -52.5px;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__title {
  font-weight: 500;
  width: 169px;
  height: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  opacity: 70%;
}

.modal__input {
  padding: 16px 12px;
  color: #212121;
  border-radius: 8px;
  border: 1px solid;
  font-weight: 500;
  font-size: 20px;
  opacity: 40%;
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid #212121;
  opacity: 100%;
  border-radius: 8px;
}

.modal__input::placeholder {
  opacity: 30%;
  color: #212121;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 32px 18px 32px;
  background-color: #212121;
  color: #fcf5f5;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 24px;
    color: #212121;
  }

  .modal__close-btn {
    right: 12px;
    top: -52.57px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
  .modal__container_type_preview {
    align-items: center;
  }
}

@media screen and (max-width: 330px) {
  .modal__caption {
    margin-top: 8px;
    font-size: 16px;
    padding-left: 8px;
  }
}
